/*公共文件，包括头部，底部搜索以下，侧边栏*/
/*public*/
html,body,address,blockquote,div,dl,form,h1,h2,h3,h4,h5,h6,ol,p,ul,dd,dt,li,object,a,b,em,i,img,samp,span,strong,sub,sup,tt,var,input,select{margin:0;padding:0}
body{font:12px/1.5 'Microsoft YaHei','Heiti SC',simhei,'Lucida Sans Unicode','Myriad Pro','Hiragino Sans GB',Verdana;color:#666;word-wrap:break-word;word-break:break-all;-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;}
html,body{overflow-y:auto;overflow-x:hidden;}
input,button,img,fieldset{border:0;outline:none}
input,select{outline:none}
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
border:none;padding:0;
}
/* set image max width to 100% */
img,video{max-width:100%;height:auto;width:auto\9;/* ie8 */}
/* set html5 elements to block */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body div,body p{margin:0 auto;word-break:normal}
address,cite,dfn,em,var,i{font-style:normal}
var{font-family:Verdana,Arial}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
/* a */
a{display:inline-block;color:#666;text-decoration:none;outline:none}
a:hover{color:#ff5c5c;text-decoration:none}
/* list */
ul,ol{list-style:none;}
/*float*/
.fl{float:left}
.fr{float:right}
.clear{zoom:1;}
.clear:after{display:block; content:""; height:0; clear:both;visibility:hidden;}
/*Pages Width*/
.w{width:1200px}
/*顶部导航样式*/
.site-nav{background:#f2f2f2;height: 30px;line-height: 30px;}
.site-nav li{float: left;}
.site-nav .left{float: left;}
.site-nav .left li{margin-right: 20px;}
.site-nav .right{float: right;}
.site-nav .right .mayi-phone{padding-left:16px;margin-left:5px;background: url(../img/icon1.png) no-repeat 0;color: #ff5c5c;}
.site-nav .drop-down a{padding: 0 20px 0 10px;position: relative;}
.site-nav .drop-down a b{position: absolute;right: 5px;top: 12px;width: 0;height: 0;border-width: 5px;border-style: solid dashed dashed;border-color: #a9b7b7 transparent transparent;}
.site-nav .drop-down div{position: absolute;padding:8px 0;border: 1px solid #f2f2f2;background: #fff;border-top: 0;display: none;}
.site-nav .drop-down div a{display: block;padding:0 10px;height: 25px;line-height: 25px;}
.site-nav .drop-down:hover{background: #fff;}
.site-nav .drop-down:hover div{display: block;}
.site-nav .color{color: #ff5c5c;}
/*头部样式*/
.header{padding: 30px 0 25px;}
.header .logo{width: 200px;height: 60px;float: left;background: url(../img/icon6.png) no-repeat;}
.ht-search{float: right;width: 436px;}
.ht-search .search{height: 36px;width: 436px;}
.ht-search .search input{font-size: 14px;vertical-align: middle;height: 30px;}
.ht-search .search input[type=text] {width: 340px;float: left;border:3px solid #ff5c5c;text-indent: 10px;}
.ht-search .search input[type=submit]{color: #fff;width:90px;height:36px;background: #ff5c5c;background: -moz-linear-gradient(left,#ff5c5c 20%,#ff8c40 80%);background: -webkit-gradient(linear,left top,right top,color-stop(20%,#ff5c5c),color-stop(80%,#ff8c40));background: -webkit-linear-gradient(left,#ff5c5c 20%,#ff8c40 80%);background: -o-linear-gradient(left,#ff5c5c 20%,#ff8c40 80%);background: -ms-linear-gradient(left,#ff5c5c 20%,#ff8c40 80%);background: linear-gradient(to right,#ff5c5c 20%,#ff8c40 80%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5c5c', endColorstr='#ff8c40', GradientType=1);cursor: pointer;}
.ht-search .hotword{margin-top: 8px;}
.ht-search .hotword li{float: left;height: 12px;line-height: 12px;padding: 0 10px;border-left: 1px solid #ccc;}
.ht-search .hotword li a{color: #999;}
.ht-search .hotword li a:hover{color: #ff5c5c;}
.ht-search .hotword li.first{padding-left: 0;border-left:0;}
/*底部的搜索*/
.bt-search{overflow: hidden;text-align: center;margin: 80px auto;width: 436px;}
/**页面上边主导航*/
.m_nav{font-size:14px;background:#3c3b3b;}
.m_nav .w:after{content:"";display:block;width:100%;clear:both}
/*商品分类*/
.m_nav .m_menu{float:left;position:relative;width:100px;margin-right:145px;color:#fff;}
.m_nav .m_menu:hover dd{display: block;}
.m_nav .m_menu:hover dt i{background: url(../img/icon4-up.png)no-repeat;}
.m_nav .m_menu dt{height:40px;line-height:40px;padding-left:20px;}
.m_nav .m_menu dt i{width:5px;height:3px;margin-left:6px;background: url(../img/icon4.png)no-repeat;display: inline-block;vertical-align: middle;}
.m_nav .m_menu dd{position:absolute;top:40px;left:0;width:245px;height:410px;background:#4f4e4e;z-index:1;display: none;}
/*横向导航*/
.m_nav .nav{float:left;}
.m_nav .nav li{float:left;}
.m_nav .nav li a{padding:0 25px;height:40px;line-height:40px;color: #fff;}
.m_nav .nav li a:hover{color: #ff5c5c;}
/*二级分类与三级分类*/
.m_goods_list{width:202px;overflow:hidden;margin-top: 3px;}
.m_goods_list ul{margin-top:-1px}
.m_goods_list li{padding:11px 10px;border-top:1px solid #716f85;line-height:25px;min-height: 75px;}
.m_goods_list li label{font-size:16px}
.m_goods_list li label i{width:20px;height:20px;margin-right:10px}
.m_goods_list li label b{font-weight:normal}
.m_goods_list a{color:#fff;margin-right:5px;font-size: 12px;}
.m_goods_list a:hover{color:#fff;text-decoration: underline;}
/*分类图标*/
[class^="icon_"]{display:inline-block;vertical-align:middle;background-image:url(../img/icon9.png);background-repeat:no-repeat;overflow:hidden}
.icon_menu_01{background-position:-9px -11px}
.icon_menu_02{background-position:-9px -40px}
.icon_menu_03{background-position:-12px -65px}
.icon_menu_04{background-position:-11px -92px}
/*底部*/
.footer{background: #ff5c5c;padding: 30px 0;color: #fff;background: -moz-linear-gradient(left,#ff5c5c 60%,#ff8c40 80%);background: -webkit-gradient(linear,left top,right top,color-stop(60%,#ff5c5c),color-stop(80%,#ff8c40));background: -webkit-linear-gradient(left,#ff5c5c 60%,#ff8c40 80%);background: -o-linear-gradient(left,#ff5c5c 60%,#ff8c40 80%);background: -ms-linear-gradient(left,#ff5c5c 60%,#ff8c40 80%);background: linear-gradient(to right,#ff5c5c 60%,#ff8c40 80%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5c5c', endColorstr='#ff8c40', GradientType=1);}
.footer a{color: #fff;}
.footer a:hover{color: #fff;text-decoration: underline;}
.footer .footer-content{position: relative;height: 210px;margin-bottom: 10px;border-bottom: 1px solid #fff;}
.footer .footer-content .footer-logo{position: absolute;left: 0;}
.footer .footer-content .footer-logo .logo-img{width:185px;height: 53px;background: url(../img/icon5.png) no-repeat;margin-bottom:15px;}
.footer .footer-content .footer-logo .tel-no{font-size: 22px;font-family: Arial;display: block;}
.footer .footer-content .footer-logo .suggest{margin-top: 30px;padding-left: 20px;background: url(../img/icon3.png) 0 no-repeat;}
.footer .footer-content .footer-rcode{position: absolute;left: 250px;}
.footer .footer-content .footer-rcode .rcode-img{width: 100px;border-radius: 5px;}
.footer .footer-content .footer-link{margin-left: 350px;text-align: right;}
.footer .footer-content .footer-link li{display: inline-block;text-align: left;padding-left: 80px;line-height: 22px;vertical-align: top;}
.footer .footer-content .footer-link li.first{padding-left: 0;}
.footer .footer-content .footer-link li h3{margin-bottom: 10px;font-size: 22px;font-weight: normal;}
.footer .footer-content .footer-link li a{display: inline;}
/*右侧侧边栏*/
.rightBar{position: fixed;top:0;right:0;width: 36px;height: 100%;background: #202020;z-index: 3;}
.rightBar .content{position: absolute;top: 50%;margin-top: -115px;}
.rightBar a{width: 36px;background: url(../img/icon8.png) no-repeat;}
.rightBar .back2top{height: 40px;display: none;}
.rightBar .back2top a{height: 40px;background-position: 0 -4px;}
.rightBar .cart{height: 110px;}
.rightBar .cart a{height: 110px;background-position: 0 -58px;}
.rightBar .collect,.rightBar .personal{height: 40px;position: relative;}
.rightBar .collect a{height: 40px;background-position: 0 -228px;}
.rightBar .personal a{height: 40px;background-position: 0 -275px;}
.rightBar .tip{position: absolute;left: -90px;top: 0;width: 90px;height: 40px;line-height: 40px;text-align: center;background: #202020;color: #fff;display: none;}
.rightBar .collect:hover .tip,.rightBar .personal:hover .tip{display: block;}
.rightBar .cart:hover,.rightBar .collect:hover,.rightBar .personal:hover{background: #ff5c5c;background: -moz-linear-gradient(left,#ff5c5c,#fb3232);background: -webkit-gradient(linear,left top,right top,color-stop(#ff5c5c),color-stop(#fb3232));background: -webkit-linear-gradient(left,#ff5c5c,#fb3232);background: -o-linear-gradient(left,#ff5c5c,#fb3232);background: -ms-linear-gradient(left,#ff5c5c,#fb3232);background: linear-gradient(to right,#ff5c5c,#fb3232);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5c5c', endColorstr='#fb3232', GradientType=1);}
/*公共分页样式*/
.page{text-align: center;margin: 20px 0;}
.page a,.page b{border: 1px solid #f2f2f2;font-family: arial;height: 20px;line-height: 20px;margin-left: 2px;padding: 3px 10px;border-radius: 3px;display: inline-block;}
.page b{background: #f5f5f5;}
/*date css start*/
.date_selector, .date_selector *{width: auto;height: auto;border: none;background: none;margin: 0;padding: 0;text-align: left;text-decoration: none;}
.date_selector{background:#fbfbfb;border: 1px solid #ccc;padding: 10px;margin:0;margin-top:-1px;position: absolute;z-index:100000;display:none;border-radius: 3px;box-shadow: 0 0 5px #aaa;box-shadow:0 2px 2px #ccc; width:220px;}
.date_selector_ieframe{position: absolute;z-index: 99999;display: none;}
.date_selector .nav{width: 17.5em;}
.date_selector .nav p{clear: none;}
.date_selector .month_nav, .date_selector .year_nav{margin: 0 0 3px 0;padding: 0;display: block;position: relative;text-align: center;}
.date_selector .month_nav{float: left;width: 55%;}
.date_selector .year_nav{float: right;width: 42%;margin-right: -8px;}
.date_selector .month_name, .date_selector .year_name{font-weight: bold;line-height: 20px;}
.date_selector .button{display: block;position: absolute;top: 0;width:18px;height:18px;line-height:16px;font-weight:bold;color:#5985c7;text-align: center;font-size:12px;overflow:hidden;border: 1px solid #ccc;border-radius:2px;}
.date_selector .button:hover, .date_selector .button.hover{background:#5985c7;color: #fff;cursor: pointer;border-color:#3a930d;}
.date_selector .prev{left: 0;}
.date_selector .next{right: 0;}
.date_selector table{border-spacing: 0;border-collapse: collapse;clear: both;margin: 0; width:220px;}
.date_selector th, .date_selector td{width: 2.5em;height: 2em;padding: 0 !important;text-align: center !important;color: #666;font-weight: normal;}
.date_selector th{font-size: 12px;}
.date_selector td{border:1px solid #f1f1f1;line-height: 2em;text-align: center;white-space: nowrap;color:#5985c7;background: #fff;}
.date_selector td.today{background: #eee;}
.date_selector td.unselected_month{color: #ccc;}
.date_selector td.selectable_day{cursor: pointer;}
.date_selector td.selected{background:#2b579a;color: #fff;font-weight: bold;}
.date_selector td.selectable_day:hover, .date_selector td.selectable_day.hover{background:#5985c7;color: #fff;}
/*date css end*/